@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  font-size: 16px; }

* {
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  height: 190px;
  position: absolute; }
  header .container-news {
    height: 20%;
    background-color: aqua; }
  header .container-principal {
    height: 54%;
    background-color: #f8f8ff;
    display: flex;
    justify-content: center; }
    header .container-principal .principal {
      width: 66rem;
      height: 100%;
      display: flex;
      flex-direction: column; }
      header .container-principal .principal .container-first {
        width: 100%;
        height: 1.6rem;
        display: flex;
        justify-content: right; }
        header .container-principal .principal .container-first .social {
          height: 100%;
          width: 12rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-right: 8px;
          padding-top: 2px; }
          header .container-principal .principal .container-first .social .label {
            height: 80%;
            width: 40%;
            border-right: 1px solid #3F3844;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Roboto', sans-serif;
            color: #3F3844; }
          header .container-principal .principal .container-first .social .icon {
            height: 100%;
            width: 1.6rem;
            margin-left: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer; }
            header .container-principal .principal .container-first .social .icon svg {
              height: auto;
              width: 20px; }
              header .container-principal .principal .container-first .social .icon svg .st0 {
                fill: #3F3844; }
  header .container-menu {
    height: 26%;
    background-color: #F89922;
    display: flex;
    justify-content: center; }
    header .container-menu menu {
      width: 66rem;
      height: 100%;
      display: flex;
      justify-content: space-between; }
      header .container-menu menu .items {
        width: 12%;
        display: flex;
        justify-content: center; }
        header .container-menu menu .items h6 {
          font-size: 1rem;
          color: white;
          font-family: 'Roboto', sans-serif; }
      header .container-menu menu .list-menu {
        width: 20%;
        align-items: center; }
        header .container-menu menu .list-menu .btn-menu {
          width: 10rem;
          height: 2.4em;
          background-color: #1173a3;
          border-radius: 6px;
          display: flex;
          cursor: pointer; }
          header .container-menu menu .list-menu .btn-menu:hover .icon > svg {
            transform: rotate(180deg);
            transition: 0.3s; }
          header .container-menu menu .list-menu .btn-menu .img,
          header .container-menu menu .list-menu .btn-menu .label,
          header .container-menu menu .list-menu .btn-menu .icon {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center; }
          header .container-menu menu .list-menu .btn-menu .img {
            width: 30%; }
            header .container-menu menu .list-menu .btn-menu .img svg {
              height: auto;
              width: 28px; }
              header .container-menu menu .list-menu .btn-menu .img svg .st0 {
                fill: white; }
          header .container-menu menu .list-menu .btn-menu h6 {
            display: flex;
            align-items: center;
            width: 50%;
            padding-left: 1px;
            font-size: 1.2rem; }
          header .container-menu menu .list-menu .btn-menu .icon {
            width: 20%; }
            header .container-menu menu .list-menu .btn-menu .icon svg {
              height: auto;
              width: 0.9rem;
              margin-right: 9px; }
              header .container-menu menu .list-menu .btn-menu .icon svg .st0 {
                fill: white; }
      header .container-menu menu .options:hover {
        background-color: #dd810fdb;
        cursor: pointer; }
      header .container-menu menu .offert span,
      header .container-menu menu .offert h6 {
        height: 100%;
        display: flex;
        align-items: center; }
      header .container-menu menu .offert span {
        width: 20%;
        justify-content: center; }
        header .container-menu menu .offert span svg {
          height: auto;
          width: 1.6rem; }
          header .container-menu menu .offert span svg .st0 {
            fill: white; }
      header .container-menu menu .offert h6 {
        width: 53px;
        margin-left: 7px; }
      header .container-menu menu .blog:hover span > svg {
        transform: rotate(180deg);
        transition: 0.3s; }
      header .container-menu menu .blog h6,
      header .container-menu menu .blog span {
        height: 100%;
        display: flex;
        align-items: center; }
      header .container-menu menu .blog span {
        width: 20%;
        justify-content: center; }
        header .container-menu menu .blog span svg {
          height: auto;
          width: 0.9rem;
          margin-left: 4px; }
          header .container-menu menu .blog span svg .st0 {
            fill: white; }
      header .container-menu menu .adopt {
        align-items: center; }
      header .container-menu menu .dogcast span,
      header .container-menu menu .dogcast h6 {
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 4px; }
      header .container-menu menu .dogcast span {
        width: 28%;
        justify-content: center; }
        header .container-menu menu .dogcast span svg {
          height: auto;
          width: 1.7rem; }
          header .container-menu menu .dogcast span svg .st0 {
            fill: white; }
      header .container-menu menu .dogcast h6 {
        width: 69px; }
      header .container-menu menu .contact {
        width: 18%;
        display: flex;
        position: relative; }
        header .container-menu menu .contact .icon,
        header .container-menu menu .contact .label {
          height: 100%;
          display: flex;
          justify-content: center; }
        header .container-menu menu .contact .icon {
          width: 25%; }
          header .container-menu menu .contact .icon a {
            width: 2.3rem;
            cursor: pointer; }
            header .container-menu menu .contact .icon a svg {
              width: 100%;
              height: 100%; }
        header .container-menu menu .contact .mess {
          display: none;
          justify-content: center;
          align-items: center;
          height: 19px;
          width: 66px;
          background-color: #F89922;
          font-size: 0.7rem;
          position: absolute;
          color: black;
          top: 56px;
          left: -10px;
          transform: translate(0px, -3px);
          border-radius: 4px;
          color: white; }
        header .container-menu menu .contact .label {
          width: 75%;
          flex-direction: column; }
          header .container-menu menu .contact .label h6 {
            height: 40%;
            width: 100%;
            font-weight: 200;
            padding-left: 4px; }
