header {
    width: 100%;
    height: 190px;
    position: absolute;
    .container-news {
        height: 20%;
        background-color: aqua;
    }
    .container-principal {
        height: 54%;
        background-color: black;
    }
    .container-menu {
        height: 26%;
        background-color: blue;
    }

}